@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}

.header {
    max-width: 1440px;
    margin: 0 auto 6rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav  {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__link {
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-size: 1.7rem 1.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        border: 1px solid $orange;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        right: 1rem;
        top: .6rem;
    }
}
.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12.3rem;
    height: 3.2rem;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 187px;
    z-index: 0;
    &__item {
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 6rem;
    }
    &__link {
        margin-top: 6rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover {
        flex-basis: 763px;
        height: 763px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 658px;
        height: 658px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 92%;
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        &:hover {
            .main__btn {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                }
            }
        }
        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }
        &_1 {
            top: 37px;
            left: 79px;
            &::before {
                bottom: -8px;
                right: -19px;
            }
        }
        &_2 {
            top: 192px;
            right: 5px;
            &::before {
                bottom: 4px;
                left: -23px;
            }
        }
        &_3 {
            bottom: -28px;
            left: 460px;
            &::before {
                top: -8px;
                right: 32px;
            }
        }  
    }
    &__food {
        display: block;
        color: rgba($green, 0.8);
    }
    &__tomato {
        position: absolute;
        bottom: 121px;
        right: 175px;
        width: 11rem;
        z-index: -1;
    }
    &__cucumber {
        position: absolute;
        top: 0px;
        left: 600px;
        width: 11rem;
        z-index: -1;
    }
    &__beans {
        position: absolute;
        top: 800px;
        left: 0px;
        width: 11rem;
        z-index: -1;
    }
    &__avocado {
        position: absolute;
        top: 50px;
        right: 0px;
        width: 11rem;
        z-index: -1;
    }
    &__pepper {
        position: absolute;
        top: 400px;
        left: 40px;
        width: 11rem;
        z-index: -1;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
}
.link {
    color: $white;
    text-transform: uppercase;
    padding: 2.5rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    padding-top: 4rem;
}

/* вторая часть */

.offer {
    background-image: url(../images/offer_bg.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 200px;
    &__text {
        margin-top: 20px;
        max-width: 700px;
    }
    &__slider {
        overflow: hidden;
        padding-top: 100px;
    }
}
.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 4rem 3.7rem;
        box-sizing: border-box;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        color: $green;
        margin-bottom: 1rem;
    }
    &__text {
        color: rgba($green, 0.7);
        line-height: 1.5;
        margin-bottom: 3.4rem;
        min-width: 263px;
    }
    &__link {
        text-transform: uppercase;
        font-weight: 500;
        color: rgba($green, .8);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        letter-spacing: 0.1rem;
        &::before {
            content: '';
            display: block;
            width: 3rem;
            height: 3rem;
            background-image: url(../images/plus.svg);
            background-size: cover;
            background-repeat: no-repeat;
            opacity: .8;
        }

    }
    }
    &-pagination {
        display: none;
    }
    &-button-next, &-button-prev {
        top: -60px;
        &:hover {
            &::after {
                color: rgba($green, 1);
                font-size: 20px;
                }
            }
            &::after {
                color: rgba($green, .4);
                font-size: 20px;
            }      
    }
    &-button-next{
        right: -8px;
    }
    &-button-prev {
        left: initial;
        right: 100px;
    }
}